* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

header {
  display: flex;
  justify-content: center;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  width: 100%;
  padding: 10px;
  background-color: #D6E9FE;
}

header .menu {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  font-size: 16px;
  font-family: sans-serif;
}

header .menu-options > li {
  display: inline;
  margin-right: 50px;
}

header .menu-options > li:last-of-type {
  margin-right: 0px;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.landing-image {
  display: flex;
  border: 1px solid red;
  height: 80vh;
}

footer{
  height: 10%;
}
